body{

    background-image: url("img/zhang-liven-Z3z1O7hqyC4-unsplash.jpg"
    );
    background-size: 100%;
    background-position: 0px -250px;
    color: aliceblue;
}

div.main{
    width: 300px;
    margin: 100px 500px 100px ;
   
}
h2{
    text-align: center;
}
label{
     margin-left: 100px;
     padding: 10px;
     }
input{

    padding-top: 5px;
    margin-top: 10px;
    padding-bottom: 5px;
    margin-left: 100px;
}     

hr{
    margin-top: 20px;
    border-style:dashed;
    width: 100%;
    
    border-width: 2px;
}

div.registration{
    background-color: rgba(12, 15, 24, 0.575);
    width: 200%;
    height: 900px;
    border-radius: 10px;
    border:  1px solid rgb(92, 74, 74);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3) ;
    
}

div.th{
    text-align: center;
    font-size: x-large;
    border: 2px solid rgb(140, 131, 131);
    width: 500px;
    height: 300px;
    margin-left: 500px;
    box-shadow: 2px 2px 2px rgb(14, 13, 13);
    background-color: rgba(12, 15, 24, 0.575);
}

